/log.html
/output.xml
.gitignore
.idea/.gitignore
.idea/Requests.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
README.md
Suite/
output.xml
report.html
selenium-screenshot-1.png
selenium-screenshot-2.png
selenium-screenshot-3.png
selenium-screenshot-4.png
selenium-screenshot-5.png
venv/
